<form class="chat-container" id="chatForm" (ngSubmit)="sendMessage()">
   <header class="chat-header">
       <h2>Chat - Andest</h2>
       <h4>Esteban Cordova; Andres Chabla</h4>
   </header>

   <div class="chat-box">
    <ul class="messages" id="messages">
        <li>AAAAAA</li>
    </ul>
   </div>

   <footer class="chat-footer">
       <input type="text" id="textForm" [(ngModel)]="text" name="messageText" placeholder="Escribe un mensaje..." />
       <button id="btnForm" type="submit">Enviar 🙏</button>
   </footer>
</form>

 